.board {
    width: 362px;
    height: 362px;
    border: 1px solid #00ff41;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    box-shadow: 0 0 10px #00ff41;
}

.cell {
    border: 1px solid rgba(0, 255, 65, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}