.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4a4a4a;
    border: 1px solid #00ff41;
    padding: 30px;
    z-index: 1000;
    box-shadow: 0 0 20px #00ff41;
    text-align: center;
}