

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: #0d0d0d; /* Дуже темний фон */
    color: #00ff41; /* Яскраво-зелений текст */
    font-family: 'Courier New', Courier, monospace; /* Класичний "друкарський" шрифт */
    text-shadow: 0 0 5px #00ff41; /* Ефект світіння для тексту */
    margin: 0; /* Важливо скинути відступи за замовчуванням */

    /* ВЛАСТИВОСТІ ДЛЯ ЦЕНТРУВАННЯ*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
}

h1, h2 {
    text-transform: uppercase; /* Великі літери для заголовків */
}





